name: CI/CD Docker Deployment to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            set -e
            echo "Connected to EC2"
            cd /home/ec2-user/cicd-docker-app
            git pull origin main || true
            sudo docker stop cicd-app || true
            sudo docker rm cicd-app || true
            sudo docker build -t cicd-app .
            sudo docker run -d -p 80:80 --name cicd-app cicd-app







